.runButton{
    background-color: rgb(68, 159, 215);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10px;
    font-size: 17px;
    height: 32px;
    margin: -10px;
    width: 100%; /* Make the button stretch the width of the dropdowns */
    color: black;
    display: inline-block;
    border: 2px solid #000000;
    text-align: center;
    transition-duration: 0.3s;
}

.runButton:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.goBackButton{
    cursor: pointer; 
}

.settingsButton{
    margin-right: 10px;
    cursor: pointer;
    float: right;
}

.copyButton{
    background-color: rgb(68, 159, 215);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 20px;
    font-size: 18px;
    height: 40px;
    color: black;
    border: 2px solid #000000;
    margin: 10px;
    width: 80%;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition-duration: 0.3s;
}

.copyButton:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.dropdown{
    display: inline-block;
    min-width: 12em;
    position: relative;
    margin: 10px;
}

.dropdown *{
    box-sizing: border-box;
}

.select {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #000000 solid;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer; 
    transition: background 0.3s;
}

.select:hover {
    background: rgb(206, 129, 40);
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #000000;
    transition: 0.3s;
}

.caret-rotate{
    transform: rotate(180deg);
}

.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background: #ffffff;
    border: 1px #000000 solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: #000000;
    position:absolute;
    bottom: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.menu li{
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu li:hover {
    background: #2388c6;
}

.active {
    background: #ffffff;
}

.menu-open {
    display: block;
    opacity: 1;
}





