body{
    background-color:rgb(211, 231, 233); 
    text-align:left;
    height: 500px; /*Max: 600 */ 
    width: 350px;  /*Max: 800 */
    /*Height and width of the extension page */
}

.footer {
    background-color: black;
    color: white;
    width: 100%;
    height: 10px;
    padding: 0px 0px 25px 20px ;
    text-align: left;
    position: fixed;
    bottom: 0;
    left: 0;
    font-family: "M PLUS 1p", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.prompt {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    font-size: 20px;
}

.header {
    border-radius: 10px; 
    margin: 5px;
    padding: 2px;
}

.header .image {
    background: url("../images/icons/Logoicon.png") no-repeat;
    width: 27px;
    height: 27px;
}

.header .text {
    font: x-large sans-serif;
    font-weight: bold;
    font-size: 19px;
    text-align:right;
}

.header .image, 
.header .text {
    display: inline-block;
    vertical-align: bottom;
}

.inputBox {
    height: 80px;
    width: 330px;
    border: 3px solid rgb(0, 0, 0);
    padding: 4px;
}

.outputBox{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin: 3;
}

.SubjectOutputBox{
    text-align: left; 
    margin: 0; 
    padding-right: 15px;
    font-size: 12px;
    overflow-y: auto;
    max-height: 170px;
}

.OutputTextBox{
    text-align: left; 
    margin: 0; 
    padding-right: 15px;
    font-size: 12px;
    overflow-y: auto;
    max-height: 130px;
}

.notGmailTab{
    background-color:rgb(211, 231, 233); 
    text-align:left;
    height: 450px; /*Max: 600 */ 
    width: 350px;  /*Max: 800 */
}

.notGmailMessage{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    font-size: 16px;
    font-weight:500;
}

.exampleImage{
    position: absolute;
    margin: 0;
    top: 60px;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 300px;
    width: 400px;
}

.exampleImageTab{
    position: absolute;
    margin: 0;
    top: 250px;
    bottom: 0px;
    left: 22px;
    right: 0px;
    height: 160px;
    width: 320px;
}

